body{
margin:0;
background:#08131d;
font-family:Arial;
color:white;
}

.container{
padding:20px;
}

input{
width:100%;
padding:14px;
border:none;
border-radius:10px;
margin-bottom:10px;
}

button{
padding:14px 20px;
border:none;
border-radius:10px;
background:#16d7b8;
color:white;
font-weight:bold;
}

#messages{
height:400px;
overflow:auto;
background:#102030;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

.message{
background:#1b3247;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}
